! X Resources Configuration
! Terminal/app colors below are populated by m3wal (see ~/.config/m3-colors)

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! Terminal colors will be set by m3wal
